/* orange rgba(255, 150, 100, 0.71)*/
/*gray rgba(15, 10, 14, 0.71)*/
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #FFFFFF;
    font: 13px/15px Verdana, Arial, Helvetica, sans-serif;
    color: rgba(15, 10, 14, 0.71);
}

img {
    border: none;
}

/*!*---- Tables -----*!*/

table, tr, td, th {
    border: 1px solid rgba(15, 10, 14, 0.71);
    border-collapse: collapse;
    vertical-align: top;
    text-align: left;
    font: 13px/15px Verdana, Arial, Helvetica, sans-serif;
    padding: 10px;
}

th {
    font-weight: bold;
    background: rgba(15, 10, 14, 0.71);
    color: white;
    text-align: center;
    font-size:18px;
}

.table1 {
    margin: 50px 0 50px 200px;
}

.table1 tr td,
.table1 tr th,
.table3 tr td,
.table3 tr th{
    width: 200px;
}
.table2 {
    margin: 50px 0 50px 100px;
}

.table3 {
    margin: 50px 0 50px 110px;
}

.table4{
    margin: 50px 10px 50px 40px;
}

.table5{
    margin: 50px 230px 50px 40px;
}

.td2{
    max-width:300px;
}
.td1{
    max-width:150px;
}

/*!*----Links---*!*/

a {
    color: rgba(15, 10, 14, 0.71);
    font-size: 15px;
    font-weight: bold;
}

a:hover {
    color: rgba(255, 150, 100, 0.71);
}

.links {
    position: fixed;
    margin-left: 67%;
    top: 35vh;
}

.links-about-employee {
    margin: 3% 20% 5% 6%;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 200%;
    position: absolute;
    padding: 2% 0 2% 40%;
    border-radius: 3px;
    border: 1px solid rgba(15, 10, 14, 0.71);
}

.links-about-equipment {
    margin: 4.7% 55% 0 5%;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 200%;
    position: absolute;
    padding-left: 40%;
}

.link-box {
    border: 1px solid rgba(15, 10, 14, 0.71);
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    float: right;
    width: 150px;
    margin-right: 15%;
}

.links .link-box {
    padding: 10px;
}

.link-box:hover {
    background: rgba(255, 150, 100, 0.71);
    border:none;
}
.link-box a:hover{
    color:white;
}

/*!*----------header----------*!*/

.header {
    height: 74px;
    background: #FFFFFF;
    color: rgba(15, 10, 14, 0.71);
}

.header-left a img {
    float: left;
    width: 185px;
    height: 80px;
    margin-top: -2px;
    padding-left: 10px;
}

.header-right {
    font-size: 15px;
    color: rgba(15, 10, 14, 0.71);
    margin-right: 3%;
    font-weight: bold;
}

.drop-down a img, .drop-down ul {
    float: right;
    text-align: right;
}

.drop-down a img {
    width: 50px;
    height: 30px;
    margin-top: 16px;
    padding-right: 30px;
}

.drop-down ul {
    margin-top: 24px;
    padding: 0;
    list-style: none;
}

.drop-down ul li {
    display: inline-block;
    position: relative;
    line-height: 12px;
    text-align: right;
}

.drop-down ul li a {
    display: block;
    padding: 6px 14px;
    text-decoration: none;
}

.drop-down ul li a:hover {
    color: rgba(15, 10, 14, 0.71);
}

.drop-down ul li ul.logout {
    margin-top: 3px;
    min-width: 90px; /* Set width of the drop down */
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    text-align: right;
}

.drop-down ul li:hover ul.logout {
    display: block; /* Display the drop-down */
}

.drop-down ul li ul.logout li {
    display: block;
}

.drop-down ul li ul.logout li a:hover {
    background: rgba(255, 150, 100, 0.71);
    color:white;
}

.list {
    border-radius: 10px;
    margin: 60px 200px 24px 50px;
}

.list article {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    border: 1px solid rgba(15, 10, 14, 0.71);
    background-color: white;
    border-radius: 10px;
    margin: 10px 10px 10px 30px;
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    width: 280px;
}

article li {
    text-decoration: none;
}

.list article:hover {
    background: rgba(255, 150, 100, 0.71);
    border:none;
}

.list article a {
    text-decoration: none;
}

.list article a:hover {
    text-decoration: underline;
    color:rgba(15, 10, 14, 0.71);
}

.list article a ul {
    list-style-type: none;
}

.list-with-link a img {
    width: 120px;
    height: 120px;
    position: fixed;
    right: 14vh;
    top: 45vh;
}

.list-with-link-user a img {
    width: 80px;
    height: 90px;
    position: fixed;
    right: 14vh;
    top: 45vh;
}

/*!*-------Pagination-------*!*/

.pagination {
    text-align: center;
}

.pagination > li {
    display: inline-block;
    font-size: 17px;
}

.pagination > li > a {
    text-decoration: none;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: rgba(255, 150, 100, 0.71);
    border-color: #ddd;
    text-decoration: underline;
    cursor: pointer;
}

/*!*------Menu--------*!*/

.menu {
    height: 55px;
    text-align: center;
    background: rgba(255, 150, 100, 0.71);
    margin-top: 5px;
}

.center {
    display: inline-block;
    font-size: 23px;
    color: white;
    font-weight: bold;
}

.center a {
    font-size: 23px;
    color: white;
    text-decoration: none;
}

.center a:hover {
    text-decoration: underline;
}

.index img {
    height: 120px;
    width: 220px;
    margin-bottom:-70px;
}
.index .fireworks{
    height:250px;
    width:300px;
    float:right;
    margin-top:-60px;
}

.index ul ,
.index p{
    margin: 150px 100px 100px 220px;
    list-style: none;
    font-style: italic;
    font-size: 20px;
    color: rgba(15, 10, 14, 0.71);
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.index ul li{
    padding-bottom: 20px;
}

/*!*-----Navigation style-----*!*/
.main {
    font-size: 15px;
    margin: 20px 20px 0 280px;
}

.navigation {
    width: 18%;
    position: fixed;
    left: 0;
    top: 30vh;
    background-color: rgba(15, 10, 14, 0.71);
    color: white;
    box-shadow: 1px 1px 1px darkgray;
    border-radius: 0 10px 10px 0;
    line-height: 30px;
}

.navigation ul {
    font-size: 15px;
}

.navigation p {
    padding-left: 5px;
    font-weight: bold;
    font-size: 20px;
}

.navigation ul li p {
    display: inline-block;
    transition: background-color 0.2s;
}

.navigation li:hover,
.navigation li.active {
    background-color: white;
}

.navigation a {
    color: white;
    transition: all 0.2s;
    text-decoration: none;
}

.navigation li:hover a,
.navigation li.active a {
    color: rgba(15, 10, 14, 0.71);
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

.about-employee {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 200%;
    position: absolute;
    margin-top: 3%;
    margin-left: 2%;
    padding: 1% 40% 0 6%;
}

.about-equipment {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 200%;
    position: absolute;
    margin-top: 3%;
    margin-left: 4%;
    padding: 1% 20% 0 3%;
    border-radius: 3px;
    border: 1px solid rgba(15, 10, 14, 0.71);
}

.about-equipment p {
    width: 400px;
}

.errors {
    text-align: center;
    width: auto;
    margin-left: 270px;
    max-width: 250px;
    border-radius: 3px;
    margin-top: 140px;
    padding: 50px;
    border: 1px solid #e5003c;
    background-color: #ffc4be;
    color: #e5003c;
}
