form {
    margin-top: 70px;
    text-align: left;
    margin-left: 10%;
    font-size: 16px;
    color: rgba(15, 10, 14, 0.71);
}

.input-group {
    margin-bottom: 32px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.input-group input,
.input-group textarea,
.input-group select {
    min-width: 60%;
    border-radius: 3px;
    border: 1px solid rgba(15, 10, 14, 0.71);
    outline: none;
    font-size: 16px;
    padding: 4px 8px;
    vertical-align: top;
}

.input-group select {
    font-size: 13px;
}

.input-group input:focus,
.input-group textarea:focus {
    border: 2px solid rgba(255, 150, 100, 0.71);
}

.radio {
    margin-bottom: 32px;
}

.input-group select {
    width: 30%;
    max-width: 200px;
    min-width: 150px;
    height: 28px;
}

form button {
    font-size: 16px;
    cursor: pointer;
}

.input-group input.has-error,
.input-group textarea.has-error {
    border: 1px solid red;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 6px 8px;
    background-color: rgba(255, 150, 100, 0.71);
    color: white;
    transition: background-color 0.3s;
    margin-bottom: 15px;
    margin-left: 10px;
    font-weight: bold;
    font-size:18px;
    border-radius: 5px;
}

.btn:hover,
.btn:active {
    background-color: white;
    color: rgba(15, 10, 14, 0.71);
    border: 1px solid rgba(15, 10, 14, 0.71);
}
