html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #FFFFFF;
    font: 13px/15px Verdana, Arial, Helvetica, sans-serif;
    color:rgba(15, 10, 14, 0.71);
}

img {
    border: none;
    margin-left: 5%;
}

form {
    font-size: 13pt;
    line-height: 300%
}

label {
    display: inline-block;
    font-weight: bold;
}

.center {
    margin-left: 35%;
    position: absolute;
    width: 600px;
    top: 20vh;
}

.checkbox {
    font: 13px/15px Verdana, Arial, Helvetica, sans-serif;
}

.input-group input {
    min-width: 250px;
    border-radius: 1px;
    border: 1px solid rgba(15, 10, 14, 0.71);
    outline: none;
    font-size: 13px;
    padding: 4px 8px;
    vertical-align: top;
    margin-top: 10px;
}

.input-group .email {
    margin-left: 33px;
}

.input-group input:focus {
    border: 2px solid rgba(255, 150, 100, 0.71);
}

img{
    width:280px;
    height: 150px;
    padding-left: 20px;
}
.info-box {
    text-align: left;
    width: 330px;
    border-radius: 3px;
    margin-top: 20px;
    padding: 2px;
}

.info-box.fail {
    border: 1px solid rgba(210, 45, 49, 0.78);
    background-color: #ffc4be;
    color: rgba(210, 45, 49, 0.78);
}

.info-box.success {
    border: 1px solid green;
    background-color: #e2ffd9;
    color: green;
}

a {
    font-size: 12px;
    color: rgba(15, 10, 14, 0.71);
    padding-left: 40px;
    font-weight: bold;
}
a:hover{
    color:rgba(255, 150, 100, 0.71);
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    /*border: 1px solid #284241;*/
    border-radius: 3px;
    padding: 5px;
    background-color: rgba(255, 150, 100, 0.71);
    color: white;
    transition: background-color 0.3s;
    margin-bottom: 15px;
    margin-left: 10%;
    font-size:15px;
    font-weight: bold;
}

.btn.login {
    width: 80px;
    height: 28px;
}

.btn:hover, .btn:active {
    background-color: white;
    color: rgba(15, 10, 14, 0.71);
    border: 1px solid rgba(15, 10, 14, 0.71);
}
