.info-box {
    text-align: left;
    width: auto;
    margin-left: 270px;
    max-width: 250px;
    border-radius: 3px;
    margin-top: 20px;
    padding: 10px;
}

.info-box.fail {
    border: 1px solid #e5003c;
    background-color: #ffc4be;
    color: #e5003c;
}

.info-box.success {
    border: 1px solid green;
    background-color: #e2ffd9;
    color: green;
}
